@import "./mixins/colors.scss";

body {
    overflow: hidden;
    overflow-y: auto;
    background-color: $blue;
}

@import "globals";
@import "components/table";
@import "components/globals/browser_scrollbar";

.fr {
    &_nav{

    }
    &_ul {

    }
    &_li {

    }
}